<h1>Eventure</h1>
<mat-card class="register" appearance="outlined">
    <mat-card-content>
        <h2>Registrieren</h2>
        <form class="example-form">

            <mat-form-field class="full-width">
            <mat-label>Voller Name</mat-label>
            <input matInput placeholder="">
            </mat-form-field>

            <mat-form-field class="full-width">
            <mat-label>E-Mail Adresse</mat-label>
            <input matInput placeholder="">
            </mat-form-field>
        
            <mat-form-field class="full-width">
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="">
            </mat-form-field>
            
            <section>
                <div class="login-button"></div>
                <div class="login-button-row">
                  <button mat-flat-button class="full-width">Registrieren</button>
                </div>
            </section>

            <p><a href="login">Zurück zum Login.</a></p>

        </form>
    </mat-card-content>
</mat-card>
