.container {
    height: 100svh;
  height: 100vh;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container div > * {
    flex-shrink: 0; /* Prevents content from shrinking */
    max-width: 100%; /* Ensures content doesn't overflow */
    width: auto; /* Allows content to maintain its natural width */
  }