<mat-card class="login" appearance="outlined">
    <mat-card-content>
        <h1>Login Page</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Benutzername oder E-Mail</mat-label>
            <input matInput placeholder="Bitte gib deinen Benutzernamen oder deine E-Mail-Adresse ein:">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="Bitte gib dein Passwort ein:">
            </mat-form-field>

            <div class="example-button">
                <button mat-flat-button>Login</button>
            </div>


        </form>
    </mat-card-content>
</mat-card>
  
  