<body class="html">
<mat-card class="login" appearance="outlined">
    <mat-card-content>
        <h1>Anmelden</h1>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>E-Mail</mat-label>
                <input matInput formControlName="email" type="email" placeholder="E-Mail">
                <mat-error
                    *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    Bitte geben Sie eine gültige E-Mail-Adresse ein
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Passwort</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Passwort">
                <mat-error
                    *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    Passwort wird benötigt
                </mat-error>
            </mat-form-field>

            <section>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
                <div class="login-button-row">
                    <button mat-flat-button class="full-width" class="login-button" type="submit"
                        [disabled]="loginForm.invalid || isLoading"
                        [ngClass]="{'loading': isLoading}">
                        {{ isLoading ? 'Wird angemeldet...' : 'Login' }}
                    </button>
                </div>
            </section>

            <p>Noch nicht angemeldet? <a routerLink="/register">Zum Registrieren.</a></p>
        </form>
    </mat-card-content>
</mat-card>
</body>