.footer-container {
  padding: 15px 0;
  background-color: var(--background);
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #e0e0e0;
  position: relative;
  width: 100%;
  left: 0;
  z-index: 0;
}

.impressum-link {
  text-decoration: none;
  color: var(--text);
}

.impressum-link:hover {
  text-decoration: underline;
}
